body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat, "Arial", sans-serif;
  color: #011C40;
  background-color: #E5E5E5;
}

.hidden {
  display: none;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/Header.png");
  background-repeat: no-repeat;
}


.header-top {
  position: absolute;
  width: 1167px;
  top: 35px;
  display: flex;
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: auto;
  line-height: 0px;
}

.header-nav {
  display: flex;
}

.header-nav ul {
  display: flex;
  width: 615px;
  margin: 0px;
  margin-top: 2px;
}

.header-nav li {
  list-style: none;
  padding: 0;
  margin: auto;
}

.header-nav li:last-child {
  margin-right: 5px;
}

.header-nav a {
  text-decoration: none;
  color: #F9FBFD;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.header h2 {
  margin: 0;
  width: 970px;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  color: #F9FBFD;
}

.header p {
  width: 970px;
  margin: 12px;
  font-size: 20px;
  line-height: 24px;
  color: #F9FBFD;
}

.about {
  height: 541px;
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-description {
  flex-basis: 512px;
}

.about-description h2 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
  color: #011C40;
}

.about-description p {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  color: #011C40;
}

.about img {
  height: 301px;
  margin: 0px;
}

.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 562px;
  padding-top: 10px;
  background-image: url(./img/Advantages.png);
}

.advantages h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #011C40;
}

.advantages .advantage-item {
  
  display: flex;
  /* flex-direction: column; */
  width: 360px;
  min-height: 241px;

}