body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat, "Arial", sans-serif;
  color: #011C40;
  background-color: #E5E5E5;
}

.hidden {
  display: none;
}

.container {
  width: 1366px;
  background-color: #F9FBFD;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/Header.png");
  background-repeat: no-repeat;
}


.header-top {
  position: absolute;
  width: 1167px;
  top: 35px;
  display: flex;
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: auto;
  line-height: 0px;
}

.header-nav {
  display: flex;
}

.header-nav ul {
  display: flex;
  width: 615px;
  margin: 0px;
  margin-top: 2px;
}

.header-nav li {
  list-style: none;
  padding: 0;
  margin: auto;
}

.header-nav li:last-child {
  margin-right: 5px;
}

.header-nav a {
  text-decoration: none;
  color: #F9FBFD;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.header h2 {
  margin: 0;
  width: 970px;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  color: #F9FBFD;
}

.header p {
  width: 970px;
  margin: 12px;
  font-size: 20px;
  line-height: 24px;
  color: #F9FBFD;
}

.about {
  height: 541px;
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-description {
  flex-basis: 512px;
}

.about-description h2 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
  color: #011C40;
}

.about-description p {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  color: #011C40;
}

.about img {
  height: 301px;
  margin: 0px;
}

.advantages * {
  box-sizing: border-box;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0px;
  min-height: 562px;
  background-image: url(./img/Advantages.png);
  /* background-clip: border-box; */
}

.advantages>h2 {
  display: inline-block;
  width: 1100px;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  vertical-align: top;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #011C40;
}

.advantages .advantage-item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 360px;
  height: 241px;
  margin: 20px;
  margin-top: 0px;
  background-color: white;
  background-clip: border-box;
}

.advantage-item>h3 {
  margin: 0;
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #011C40;
}

.advantage-item>p {
  display: inline-block;
  margin: 0;
  margin-top: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #011C40;
}


.advantages div:nth-child(3) img {
  margin-top: 6px;
  margin-bottom: 5px;
  top: 10px;
}

.advantages div:nth-child(4) img {
  margin-top: 8px;
  margin-bottom: 9px;
  top: 10px;
}

.advantages div:nth-child(4) p {
  width: 250px;
}

.currentCruises * {
  box-sizing: border-box;
}

.currentCruises {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1123px;
}

.currentCruises h3 {
  display: block;

  margin-bottom: 50px;
  margin-top: 5px;
  margin-top: -10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #011C40;
}

.cruises-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  width: 1130px;
  height: 802px;
  margin: 0 auto;
}

.cruises-item {
  position: relative;
  width: 260px;
  height: 386px;
}

.cruises-item:hover div.item-background {
  display: none;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 260px;
  height: 386px;
  color: #F9FBFD;
  background-color: #011C40;
}

.item-info p {
  font-size: 18px;
  line-height: 150%;
  margin-top: 3px;
  margin-bottom: 0px;
}

.item-info dl,
dd {
  font-size: 14px;
  line-height: 140%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

.item-info dt {
  margin-top: 13px;
}

.item-info dd {
  margin-top: 1px;
  color: #D8D8D9;
  font-weight: 300;
}

.item-info input {
  background-color: #F9FBFD;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 10px;
  justify-self: flex-end;
  height: 40px;
}

.item-background {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  width: 260px;
  height: 386px;
  top: 0;
  left: 0;
  background-image: url(./img/CruiseAstoria.png);
  background-repeat: no-repeat;
}

.cruises-item__02 .item-background {
  background-image: url(./img/CruiseAlign.png);
}

.cruises-item__03 .item-background {
  background-image: url(./img/CruiseAtlantis.png);
}

.cruises-item__04 .item-background {
  background-image: url(./img/CruiseOdissey.png);
}

.cruises-item__05 .item-background {
  background-image: url(./img/CruiseOlimpia.png);
}

.cruises-item__06 .item-background {
  background-image: url(./img/CruiseAurora.png);
}

.cruises-item__07 .item-background {
  background-image: url(./img/CruiseLeonor.png);
}

.cruises-item__08 .item-background {
  background-image: url(./img/CruiseMinion.png);
}

.item-background p {
  color: #F9FBFD;
  margin: 0 0 22px 31px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.earlyBooking * {
  box-sizing: border-box;
}

.earlyBooking {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 555px;
  background-image: url(/img/EarlyBooking.png);
}

.booking-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
}

.booking-info h3 {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
}

.booking-info p {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 403px;
  background-color: #101A56;
}

.booking-form .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 303px;
  height: 455px;
}

.booking-form p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #F9FBFD;
  margin-top: 50px;
}

.booking-form input {
  width: 303px;
  height: 43px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: #F9FBFD;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #011C40;
}

.booking-form label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  color: #F9FBFD;
}

input#agreeToAll {
  align-self: start;
  margin: 0;
  padding: 0;
}

.booking-form #submit {
  margin: 0;
  padding: 0;
  width: 303px;
  height: 43px;
}

.directionsToUs {
  height: 547px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directionsToUs .directions-wrapper {

  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 306px;
}

.directionsToUs .direction-map {
  position: relative;
  width: 561px;
}

.direction-map img:last-child {
  position: absolute;
  left: 249px;
  bottom: 69px;
}

.directionsToUs .direction-info {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.direction-info p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #011C40;
}