body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat, "Arial", sans-serif;
  color: #011C40;
  background-color: #E5E5E5;
}

.hidden {
  display: none;
}

.container {
  width: 1366px;
  background-color: #F9FBFD;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/Header.png");
  background-repeat: no-repeat;
}


.header-top {
  position: absolute;
  width: 1167px;
  top: 35px;
  display: flex;
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: auto;
  line-height: 0px;
}

.header-nav {
  display: flex;
}

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  width: 615px;
  margin: 0px;
  margin-top: 2px;
}

.header-nav li {
  list-style: none;
  padding: 0;
  margin: auto;
}

.header-nav li:last-child {
  margin-right: 5px;
}

.header-nav a {
  text-decoration: none;
  color: #F9FBFD;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.header h2 {
  margin: 0;
  width: 970px;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  color: #F9FBFD;
}

.header p {
  width: 970px;
  margin: 12px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #F9FBFD;
}

.about {
  min-height: 541px;
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-description {
  flex-basis: 512px;
}

.about-description h2 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
  color: #011C40;
}

.about-description p {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  color: #011C40;
}

.about img {
  height: 301px;
  margin: 0px;
}

.advantages * {
  box-sizing: border-box;
}

.advantages {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: flex-start; */
  align-content: center;
  align-items: center;
  padding: 0px;
  min-height: 562px;
  background-image: url(./img/Advantages.png);
}

.advantages>h2 {
  display: inline-block;
  width: 1100px;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 110px;
  text-align: center;
  vertical-align: top;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #011C40;
}

.advantages .advantages-items {
  display: flex;
  justify-content: center;
}

.advantages .advantages-item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 25px;
  width: 360px;
  min-height: 241px;
  margin: 20px;
  margin-top: 0px;
  background-color: white;
  background-clip: border-box;
}

.advantages-item>h3 {
  margin: 0;
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #011C40;
}

.advantages-item>p {
  display: inline-block;
  margin: 0;
  margin-top: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #011C40;
}


.advantages-items div:nth-child(1) img {
  margin-top: 2px;
  margin-bottom: 9px;
  top: 10px;
}

.advantages-items div:nth-child(2) img {
  margin-top: 6px;
  margin-bottom: 16px;
  top: 10px;
}

.advantages-items div:nth-child(3) img {
  margin-top: 10px;
  margin-bottom: 18px;
  top: 10px;
} 

.advantages div:nth-child(4) p {
  width: 250px;
}

.currentCruises * {
  box-sizing: border-box;
}

.currentCruises {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1123px;
}

.currentCruises h3 {
  display: block;

  margin-bottom: 50px;
  margin-top: 5px;
  margin-top: -10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #011C40;
}
  
.cruises-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  width: 1130px;
  height: 802px;
  margin: 0 auto;
}

.cruises-item {
  position: relative;
  width: 260px;
  height: 386px;
}

.cruises-item:hover div.item-background {
  display: none;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 260px;
  height: 386px;
  color: #F9FBFD;
  background-color: #011C40;
}

.item-info p {
  font-size: 18px;
  line-height: 150%;
  margin-top: 3px;
  margin-bottom: 0px;
}

.item-info dl,
dd {
  font-size: 14px;
  line-height: 140%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

.item-info dt {
  margin-top: 13px;
}

.item-info dd {
  margin-top: 1px;
  color: #D8D8D9;
  font-weight: 300;
}

.item-info input {
  background-color: #F9FBFD;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 10px;
  justify-self: flex-end;
  height: 40px;
}

.cruises-item .item-background  {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  width: 260px;
  height: 386px;
  top: 0;
  left: 0;
  background-image: url(./img/CruiseAstoria.png);
  background-repeat: no-repeat;
}

.item-background p {
  color: #F9FBFD;
  margin: 0px 0 22px 31px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.cruises-item__02 .item-background {
  background-image: url(./img/CruiseAlign.png);
}

.cruises-item__03 .item-background {
  background-image: url(./img/CruiseAtlantis.png);
}

.cruises-item__04 .item-background {
  background-image: url(./img/CruiseOdissey.png);
}

.cruises-item__05 .item-background {
  background-image: url(./img/CruiseOlimpia.png);
}

.cruises-item__06 .item-background {
  background-image: url(./img/CruiseAurora.png);
}

.cruises-item__07 .item-background {
  background-image: url(./img/CruiseLeonor.png);
}

.cruises-item__08 .item-background {
  background-image: url(./img/CruiseMinion.png);
}

.earlyBooking * {
  box-sizing: border-box;
}

.earlyBooking {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 555px;
  background-image: url(./img/EarlyBooking.png);
}

.booking-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  margin-left: 24px;
  margin-bottom: 3px;
  ;
}

.booking-info h3 {
  margin: 0;
  margin-bottom: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
}

.booking-info p {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 403px;
  margin-right: 26px;
  background-color: #101A56;
}

.booking-form .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 303px;
  height: 455px;
}

.booking-form p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #F9FBFD;
  margin-top: 43px;
  margin-bottom: 27px;
}

.booking-form input,
.booking-form button
 {
  width: 303px;
  height: 43px;
  margin-bottom: 21px;
  padding-left: 16px;
  background-color: #F9FBFD;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #011C40;
}

.booking-form label {
  display: inline;
  vertical-align: middle;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  color: #F9FBFD;
}

input#agreeToAll {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}

.booking-form #submit {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  width: 303px;
  height: 43px;
}

.directionsToUs {
  height: 547px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directionsToUs .directions-wrapper {

  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 306px;
}

.directionsToUs .direction-map {
  position: relative;
  width: 561px;
}

.direction-map img:last-child {
  position: absolute;
  left: 249px;
  bottom: 69px;
}

.directionsToUs .direction-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.direction-info>p {
  margin-top: 75px;
  margin-bottom: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #011C40;
}

.direction-info img {
  width: 18px;
  height: 22px;
  margin-right: 5px;
}

.direction-address *,
.direction-phone * {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}

.direction-address {
  margin-top: 30px;
}

.direction-phone {
  margin-top: 20px;  
}

.direction-phone a {
  text-decoration: none;
  color: #011C40;
}

footer {
  display: flex;
  height: 138px;
  background-color: #011C40;

}

.footer-menu {
  display: flex;
  width: 1366px;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.footer-logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 103px;
  margin-right: 0px;
  line-height: 0px;
}

.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  width: 635px;
  margin: 0px;
  padding: 0;
  margin-left: 40px;
  margin-top: 2px;
}

.footer-nav li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 35.5px;
}

.footer-nav a {
  text-decoration: none;
  color: #F9FBFD;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.footer-socials {
  display: flex;;
  margin-right: 104px;
}

.footer-socials img {
  margin: 0;
  margin-left: 32px;
  vertical-align: middle;
}

a:hover,
a>img,
input:hover,
label:hover {
  cursor: pointer;
  color: #aae;
}

input:focus,
label:focus {
  outline: 2px solid blue;
}